/* src/components/Map2D.css */
.map-container {
  height: 75vh;
  width: 100%;
  margin-top: 20px;
}

.disaster-icon {
  background: transparent;
  border: none;
}
.disaster-icon svg {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.7));
}

/* Styles for the custom cluster */
.custom-marker-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
<<<<<<< HEAD
=======
}

/* Add these new styles to your Map2D.css file */

.search-form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.search-input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
  width: 200px;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-button:hover {
  background-color: #0056b3;
>>>>>>> efe0b2c (web design)
}